form { 
    label {
      font-family: 'Novecento';
    }
    span {
      color: red;
    }
  
    input, textarea {
      border: none;
      background: #F0F0F0;
    }
  
    input {
      height: 25px;
    }
  
    textarea {
      width: 60%;
      height: 180px;
    }
  }