// home page

.shop-stuff {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  padding: 50px;
}

.inhabitent-journal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 50px;
}

.latest-adventures {
  display: grid;
  grid-template-areas: 
  "a a b b"
  "a a c d";
  grid-gap: 20px;
  padding: 50px;
}



//about page

main {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
}

//contact page

.contact-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

//single products page

.single-product-grid {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-gap: 40px;
  padding: 50px;
  justify-items: center;
  line-height: 1.75;
}

//shop page

.product-type-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 20%;
  margin: 0 auto;
}

.taxonomy-products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}

//journal page

.journal-posts-grid {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}

//adventures page

.adventures-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 50px 100px;
  grid-gap: 30px;
}

.single-adventure-grid {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
}
