.nav {
  display: grid;
  grid-template-columns: 3;
  padding: 10px 50px 0px 50px;
  border-bottom: 1px solid #e1e1e1;

  a {
    z-index: 9999;

    img {
      grid-column-start: 1;
      width: 30px;
    }
  }

  i {
    grid-column-start: 2;
    z-index: 9999;
    color: white;
  }

  .menu-main-container {
    display: grid;
    grid-column-start: 3;
    justify-items: end;

    .menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      z-index: 9999;
      bottom: 0;
      width: 60%;
    }

    a {
      text-decoration: none;
      color: #248A83;
    }
  }
}
