.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 50px 0px 50px;
  border-bottom: 1px solid #e1e1e1;

  a {
    z-index: 9999;

    img {
      grid-column-start: 1;
      width: 30px;
    }
  }

  .nav-items {
    grid-column-start: 3;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;

    #ajaxsearchlite1 {
      grid-column-start: 3;
      width: 25%;
      margin-top: -8px;
      color: white;
    }

    .menu-main-container {  
      .menu {
        display: flex;
        z-index: 9999;
        bottom: 0;

        li {
          padding-right: 15px;
        }
      }
  
      a {
        text-decoration: none;
        color: #248A83;
      }
    }
  }
}
