.sidebar {
  grid-column-start: 2;
  text-align: left;
  padding-left: 40px;
  padding-top: 30px;

  h1 {
    text-align: left;
    padding-bottom: 20px;
    font-family: 'Novecento-Bold';
    font-size: 20px;
  }

  p {
    padding-bottom: 20px;
  }

  .contact {
    p:nth-child(4) {
      padding-bottom: 10px;

      i {
        padding-right: 2px;
      }
    }

    p:nth-child(5) {
      padding-left: 15px;
    }

    span {
      color: #248a83;
      padding-left: 5px;
    }
  }

  .hours {
    span {
      font-family: 'Merriweather-Bold';
    }
  }

  .archives {
    p {
      color: #248a83;
      padding-bottom: 10px;
    }
  }
}
