button {
  text-transform: uppercase;
}

.shop-stuff {
  button {
    font-size: 14px;
    color: white;
    background-color: #248a83;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }
}

.inhabitent-journal {
  button {
    font-size: 14px;
    color: black;
    background: none;
    padding: 5px 15px;
  }
}

.latest-adventures {
  section {
    padding-top: 20px;

    button {
      font-size: 14px;
      color: white;
      background-color: #248a83;
      padding: 8px 15px;
    }
  }
}

.price {
  button {
    border-radius: 0;
    padding: 8px 15px;
    background: none;
    border: 1px solid black;
  }

  button i {
    padding-right: 5px;
  }
}

.journal-posts {
  section {
    padding-bottom: 60px;
    button {
      padding: 8px 15px;
      background: none;
      font-size: 14px;
      grid-column-start: 1;
    }
  }
}

input.wpcf7-form-control.wpcf7-submit {
  font-size: 12px;
  color: white;
  background-color: #248a83;
  padding: 0px 15px;
  width: 8%;
}

.adventure {
  section {
    padding-bottom: 60px;
    button {
      padding: 8px 15px;
      background: none;
      font-size: 14px;
      grid-column-start: 1;
    }
  }
}

.shop-button {
  text-decoration: none;
  section {
    padding-bottom: 60px;
  }
  button {
    display: block;
    margin: 0 auto;
    color: white;
    padding: 8px 15px;
    background-color: #248a83;
    font-size: 14px;
  }
}

.search-results {
  section {
    padding-top: 10px;
    padding-bottom: 30px;
    button {
      padding: 8px 15px;
      background: none;
      font-size: 14px;
      grid-column-start: 1;
    }
  }

  .search-button {
    button {
      color: white;
      background-color: #248a83;
      font-size: 16px;
      padding: 5px 10px;
    }

    button:nth-child(1) {
      background-color: grey;
    }
  }
}
