.shop-stuff {
  button {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background-color: #248a83;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }
}

.inhabitent-journal {
  button {
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    background: none;
    padding: 5px 15px;
    position: relative;
  }
}

.latest-adventures {
  button {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background-color: #248a83;
    padding: 5px;
    position: relative;
  }
}

.price {
  button {
    text-transform: uppercase;
    border-radius: 0;
    padding: 8px 15px;
    background: none;
    border: 1px solid black;
  }

  button i {
    padding-right: 5px;
  }
}

.journal-posts {
  section {
    padding-bottom: 60px;
    button {
      text-transform: uppercase;
      padding: 8px 15px;
      background: none;
      font-size: 14px;
      grid-column-start: 1;
    }
  }
}

input.wpcf7-form-control.wpcf7-submit {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  background-color: #248a83;
  padding: 0px 15px;
}
