.about-banner {
  width: 100%;
  height: 780px;

  img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    position: absolute;
    top: 0;
    filter: brightness(50%);
  }

  h2 {
    position: absolute;
    z-index: 9999;
    font-size: 50px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    font-family: 'Novecento-Bold';
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;

  h3 {
    text-align: center;
    font-size: 30px;
    grid-column-start: 2;
  }

  p {
    text-align: justify;
    grid-column-start: 2;
    line-height: 1.75;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
