.find-us {
  grid-column-start: 1;
  padding-left: 50px;
  border-right: 1px solid #e1e1e1;

  h2 {
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 40px;
    font-family: 'Novecento-Bold';
  }

  p {
    padding-bottom: 20px;
    line-height: 1.75;
    padding-right: 20px;
  }

  iframe {
    width: 750px;
    object-fit: cover;
    height: 375px;
    padding-bottom: 20px;
  }
}
