.home-banner {
    // position: absolute;
    // top: 0;

  img {
    width: 100%;
    object-fit: contain;
    height: auto;
  }
  .banner-logo {
    width: 25%;
    object-fit: contain;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
  }
}

.shop-stuff {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  p {
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
