.product {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  justify-items: center;
  line-height: 1.75;
  grid-column-gap: 40px;
  padding: 50px;

  img {
    grid-column-start: 1;
    width: 100%;
    object-fit: contain;
    height: auto;
  }

  h2, h3, p, .price {
    grid-column-start: 2;
  }

  .price {
    grid-column-start: 2;

    h2 {
      grid-row-start: 1;
      text-transform: uppercase;
      color: #d99054;
      font-size: 30px;
      padding-bottom: 10px;
    }

    h3 {
      font-size: 20px;
      padding-bottom: 10px;
    }

    p {
      padding-right: 50px;
      padding-bottom: 20px;
    }

    button {
      text-transform: uppercase;
      border-radius: 0;
      padding: 8px 15px;
      background: none;
      border: 1px solid black;
    }

    button i {
      padding-right: 5px;
    }
  }
}

.all-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 50px;

  .archive-products {
    widows: 100%;

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  
}
