.journal-posts {
  grid-column-start: 1;
  padding-left: 50px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  padding-top: 40px;
  padding-right: none;

  .photo-text, p {
    grid-column-start: 1;
  }

  .photo-text {
    position: relative;

    img {
      width: 730px;
      height: 450px;
      object-fit: cover;
    }

    h2 {
      text-transform: uppercase;
      word-wrap: break-word;
      position: absolute;
      top: 0;
      color: white;
      font-size: 20px;
      background-color: #248a83;
      padding: 20px;
      margin-top: 30px;
    }
  }

  p {
      line-height: 1.75;
      padding-bottom: 20px;
      text-align: left;
      padding-right: 100px;
  }
}